<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nguyen Trung Khoa</title>
</head>
<body>
    <h1>Hello World with Nguyen Trung Khoa from view</h1>
</body>
</html>